@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* "Poppins", sans-serif */

/* Resets */
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #efefef;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1876f2;
  padding: 5px 5%;
}

.logo {
  width: 160px;
  margin-right: 40px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left ul li {
  list-style: none;
  display: inline-block;
}

.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}
